header {
    background-color: #ff69b4; /* Un color de fondo vibrante que recuerda a los helados */
    color: white; /* Color de texto blanco para un buen contraste */
    text-align: center; /* Centra el texto dentro del header */
    padding: 20px; /* Añade un poco de espacio alrededor del texto */
    font-size: 36px; /* Tamaño de fuente grande para destacar el título */
    font-family: 'Open Sans', sans-serif; /* Una fuente limpia y moderna */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto para darle profundidad */
    border-radius: 10px; /* Bordes redondeados para un aspecto suave */
    margin-bottom: 20px; /* Espacio debajo del header */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para elevar visualmente el header */
}


.ubitext {
    max-width: 800px; /* Máximo ancho para que el texto no sea demasiado ancho */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno para que el contenido no esté pegado a los bordes */
    background-color: #fff; /* Fondo blanco para un buen contraste */
    border-radius: 10px; /* Bordes redondeados para un look más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

.tmap{
    text-align: center;
}

#map{
    height: 400px;
    width: 100%;
}


.regresar{
    text-align: center;
    margin-top: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61; /* Color cálido para el fondo del botón */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s; /* Transiciones suaves */
}

/* Efecto de clic */
button:active {
    background-color: #ff3b30; /* Color de fondo más oscuro al hacer clic */
    transform: scale(0.98); /* Efecto de reducción al hacer clic */
    opacity: 0.8; /* Transición de opacidad */
    text-align: center;
}

/* Estilo del botón después de hacer clic */
.button.clicked {
    background-color: #ff3b30; /* Color de fondo durante la transición */
    opacity: 0.8;
    transform: scale(0.98);
}


